"*":
  "atom-beautify":
    general:
      _analyticsUserId: "e2374b40-4d97-4d85-9b99-2f8814a7f987"
  core:
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 13
    preferredLineLength: 120
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "88207b36-646b-ac4e-187c-6b48581f6dca"
  "omnisharp-atom":
    altGotoDefinition: true
    codeLens: true
    enhancedHighlighting19: true
  "project-manager":
    closeCurrent: true
    sortBy: "last modified"
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-clipboard-plus":
    useVimModePlus: true
  "vim-mode-plus":
    highlightSearch: true
    useClipboardAsDefaultRegister: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
